
@{
    @model OurTeamLang 
    ViewData["Title"] = "Service";
}

<!-- ======================== Main header ======================== -->

<section class="main-header" style="background-image:url(../../assets/images/gallery-3.jpg)">
    <header>
        <div class="container">
            <h1 class="h2 title">@Model.FullName</h1>
        </div>
    </header>
</section>


<section class="" >
    <header>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p>@Model.Profession</p>
                </div>
            </div>
        </div>
    </header>
</section>

